{{ define "main" }}
    <article>
        <h2>pages</h2>
        {{ partial "page_list.html" . }}
    </article>
    {{ with .Site.Data.etc_pages }}
        <article>
            <h2>etc</h2>
            <ul>
                {{ range . }}
                    {{ $name := ( collections.Index . 0 ) }}
                    {{ $url := ( collections.Index . 1 ) }}
                    <li><a href="{{ $url }}" target="_blank">{{ $name }}</a></li>
                {{ end }}
            </ul>
        </article>
    {{ end }}
    <hr>
    {{ partial "aside.html" . }}
{{ end }}
