{{ with .GitInfo.AbbreviatedHash  }}
  <a href="{{ urls.JoinPath site.Params.src $.Params.src }}"><code>{{ . }}</code></a>
  &hyphen;
{{ end }}
{{ with .OutputFormats.Get "rss" }}
  <a href="{{ .RelPermalink }}">rss</a>
  &sol;
{{ end }}
{{ with .OutputFormats.Get "atom" }}
  <a href="{{ .RelPermalink }}">atom</a>
  &hyphen;
{{ end }}
<a href="monero:8BMnsMnRszwhFwMUkevEg4c8TXf5WQqQy2PnSSn1Uzxf59fNSjXiyNvAkrjZgZ7uEWEew5U7BfRcvixdrwLvneEe14d4gEB">xmr</a>
&hyphen;
<a href="https://www.gnu.org/licenses/agpl.html">{{ .Site.Copyright }}</a>
&COPY;
<time datetime="{{ .Lastmod.UTC.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}">{{ .Lastmod.UTC.Format "2006-01-02" }}</time>
