{{ with .GitInfo.AbbreviatedHash  }}
  <a href="{{ urls.JoinPath site.Params.src $.Params.src }}"><code>{{ . }}</code></a>
  &hyphen;
{{ end }}
{{ with .OutputFormats.Get "rss" }}
  <a href="{{ .Permalink }}">rss</a>
  &hyphen;
{{ end }}
<a href="monero:8BMnsMnRszwhFwMUkevEg4c8TXf5WQqQy2PnSSn1Uzxf59fNSjXiyNvAkrjZgZ7uEWEew5U7BfRcvixdrwLvneEe14d4gEB?recipient_name={{ .GitInfo.AuthorName }}">xmr</a>
&hyphen;
<a href="https://www.gnu.org/licenses/agpl.html">{{ .Site.Copyright }}</a>
&COPY;
{{ $lastmod := time.Format "2006-01-02" .Lastmod }}
<time datetime="{{ $lastmod }}">{{ $lastmod }}</time>
